<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>webtenax documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	   <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/dark.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top d-block d-sm-none">
            <a href="../" class="navbar-brand">webtenax documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li class="breadcrumb-item">Components</li>
  <li class="breadcrumb-item"
  >
  AppMenuitemComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a href="#info" class="nav-link active"
                role="tab" id="info-tab" data-bs-toggle="tab" data-link="info">Info</a>
        </li>
        <li class="nav-item">
            <a href="#source" class="nav-link"
                role="tab" id="source-tab" data-bs-toggle="tab" data-link="source">Source</a>
        </li>
        <li class="nav-item">
            <a href="#tree" class="nav-link"
                role="tab" id="tree-tab" data-bs-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/layout/app.menuitem.component.ts</code>
</p>




    <p class="comment">
        <h3>Implements</h3>
    </p>
    <p class="comment">
                <code>OnInit</code>
                <code>OnDestroy</code>
                <code>AfterViewChecked</code>
    </p>


<section data-compodoc="block-metadata">
    <h3>Metadata</h3>
    <table class="table table-sm table-hover metadata">
        <tbody>












            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>[tnx-menuitem]</code></td>
            </tr>





            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;ng-container&gt;
          &lt;div *ngIf&#x3D;&quot;root &amp;&amp; item.visible !&#x3D;&#x3D; false&quot; class&#x3D;&quot;layout-menuitem-root-text&quot;&gt;
              &lt;span&gt;{{item.label}}&lt;/span&gt;
              &lt;i class&#x3D;&quot;layout-menuitem-root-icon pi pi-fw pi-ellipsis-h&quot;&gt;&lt;/i&gt;
          &lt;/div&gt;
	&lt;a *ngIf&#x3D;&quot;!item.menuAndRoute &amp;&amp; (!item.routerLink || item.items) &amp;&amp; item.visible !&#x3D;&#x3D; false&quot; [attr.href]&#x3D;&quot;item.url&quot;  (click)&#x3D;&quot;itemClick($event)&quot;  (mouseenter)&#x3D;&quot;onMouseEnter()&quot;
	   [ngClass]&#x3D;&quot;item.class&quot; [attr.target]&#x3D;&quot;item.target&quot; tabindex&#x3D;&quot;0&quot; pRipple [pTooltip]&#x3D;&quot;item.label&quot; [tooltipDisabled]&#x3D;&quot;!(isSlim &amp;&amp; root &amp;&amp; !active)&quot;&gt;
		&lt;i [ngClass]&#x3D;&quot;item.icon&quot; class&#x3D;&quot;layout-menuitem-icon&quot;&gt;&lt;/i&gt;
		&lt;span class&#x3D;&quot;layout-menuitem-text&quot;&gt;{{item.label}}&lt;/span&gt;
		&lt;i class&#x3D;&quot;pi pi-fw pi-angle-down layout-submenu-toggler&quot; *ngIf&#x3D;&quot;item.items&quot;&gt;&lt;/i&gt;
	&lt;/a&gt;

          &lt;a *ngIf&#x3D;&quot;item.menuAndRoute &amp;&amp; (!item.routerLink || item.items) &amp;&amp; item.visible !&#x3D;&#x3D; false&quot; (mouseenter)&#x3D;&quot;onMouseEnter()&quot;
	   [ngClass]&#x3D;&quot;item.class&quot; class&#x3D;&quot;p-0&quot; [attr.target]&#x3D;&quot;item.target&quot; tabindex&#x3D;&quot;0&quot; pRipple [pTooltip]&#x3D;&quot;item.label&quot; [tooltipDisabled]&#x3D;&quot;!(isSlim &amp;&amp; root &amp;&amp; !active)&quot;&gt;
		&lt;i [ngClass]&#x3D;&quot;item.icon&quot; class&#x3D;&quot;layout-menuitem-icon&quot; style&#x3D;&quot;padding-top:0.75rem;padding-bottom:0.75rem;padding-left:0.75rem&quot; [routerLink]&#x3D;&quot;item.routerLink&quot;&gt;&lt;/i&gt;
		&lt;span class&#x3D;&quot;layout-menuitem-text m-0&quot; style&#x3D;&quot;padding:0.75rem;padding-right:0&quot; [routerLink]&#x3D;&quot;item.routerLink&quot;&gt;{{item.label}}&lt;/span&gt;
		&lt;i class&#x3D;&quot;pi pi-fw pi-angle-down layout-submenu-toggler&quot; (click)&#x3D;&quot;itemClick($event)&quot; style&#x3D;&quot;padding-left:0.75rem;padding-top:0.65rem;padding-bottom:0.85rem;padding-right:1.60rem&quot; *ngIf&#x3D;&quot;item.items&quot;&gt;&lt;/i&gt;
          &lt;/a&gt;

	&lt;a *ngIf&#x3D;&quot;(item.routerLink &amp;&amp; !item.items) &amp;&amp; item.visible !&#x3D;&#x3D; false&quot; (click)&#x3D;&quot;itemClick($event)&quot; (mouseenter)&#x3D;&quot;onMouseEnter()&quot; [ngClass]&#x3D;&quot;item.class&quot;
	   [routerLink]&#x3D;&quot;item.routerLink&quot; routerLinkActive&#x3D;&quot;active-route&quot; [routerLinkActiveOptions]&#x3D;&quot;item.routerLinkActiveOptions||{ paths: &#x27;exact&#x27;, queryParams: &#x27;ignored&#x27;, matrixParams: &#x27;ignored&#x27;, fragment: &#x27;ignored&#x27; }&quot;
             [fragment]&#x3D;&quot;item.fragment&quot; [queryParamsHandling]&#x3D;&quot;item.queryParamsHandling&quot; [preserveFragment]&#x3D;&quot;item.preserveFragment&quot;
             [skipLocationChange]&#x3D;&quot;item.skipLocationChange&quot; [replaceUrl]&#x3D;&quot;item.replaceUrl&quot; [state]&#x3D;&quot;item.state&quot; [queryParams]&#x3D;&quot;item.queryParams&quot;
             [attr.target]&#x3D;&quot;item.target&quot; tabindex&#x3D;&quot;0&quot; pRipple [pTooltip]&#x3D;&quot;item.label&quot; [tooltipDisabled]&#x3D;&quot;!(isSlim &amp;&amp; root)&quot;&gt;
		&lt;i [ngClass]&#x3D;&quot;item.icon&quot; class&#x3D;&quot;layout-menuitem-icon&quot;&gt;&lt;/i&gt;
		&lt;span class&#x3D;&quot;layout-menuitem-text&quot;&gt;{{item.label}}&lt;/span&gt;
		&lt;i class&#x3D;&quot;pi pi-fw pi-angle-down layout-submenu-toggler&quot; *ngIf&#x3D;&quot;item.items&quot;&gt;&lt;/i&gt;
	&lt;/a&gt;

	&lt;ul #submenu *ngIf&#x3D;&quot;item.items &amp;&amp; item.visible !&#x3D;&#x3D; false&quot; [@children]&#x3D;&quot;submenuAnimation&quot; (@children.done)&#x3D;&quot;onSubmenuAnimated($event)&quot;&gt;
		&lt;ng-template ngFor let-child let-i&#x3D;&quot;index&quot; [ngForOf]&#x3D;&quot;item.items&quot;&gt;
			&lt;li tnx-menuitem [item]&#x3D;&quot;child&quot; [index]&#x3D;&quot;i&quot; [parentKey]&#x3D;&quot;key&quot; [class]&#x3D;&quot;child.badgeClass&quot;&gt;&lt;/li&gt;
		&lt;/ng-template&gt;
	&lt;/ul&gt;
&lt;/ng-container&gt;
</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section data-compodoc="block-index">
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#active" >active</a>
                            </li>
                            <li>
                                <a href="#key" >key</a>
                            </li>
                            <li>
                                    <span class="modifier">Public</span>
                                <a href="#layoutService" >layoutService</a>
                            </li>
                            <li>
                                <a href="#menuResetSubscription" >menuResetSubscription</a>
                            </li>
                            <li>
                                <a href="#menuSourceSubscription" >menuSourceSubscription</a>
                            </li>
                            <li>
                                    <span class="modifier">Public</span>
                                <a href="#router" >router</a>
                            </li>
                            <li>
                                    <span class="modifier"></span>
                                <a href="#submenu" >submenu</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#calculatePosition" >calculatePosition</a>
                            </li>
                            <li>
                                <a href="#itemClick" >itemClick</a>
                            </li>
                            <li>
                                <a href="#ngAfterViewChecked" >ngAfterViewChecked</a>
                            </li>
                            <li>
                                <a href="#ngOnDestroy" >ngOnDestroy</a>
                            </li>
                            <li>
                                <a href="#ngOnInit" >ngOnInit</a>
                            </li>
                            <li>
                                <a href="#onMouseEnter" >onMouseEnter</a>
                            </li>
                            <li>
                                <a href="#onSubmenuAnimated" >onSubmenuAnimated</a>
                            </li>
                            <li>
                                <a href="#updateActiveStateFromRoute" >updateActiveStateFromRoute</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Inputs</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#index" >index</a>
                            </li>
                            <li>
                                <a href="#item" >item</a>
                            </li>
                            <li>
                                <a href="#parentKey" >parentKey</a>
                            </li>
                            <li>
                                <a href="#root" >root</a>
                            </li>
                        </ul>
                    </td>
                </tr>


                <tr>
                    <td class="col-md-4">
                        <h6><b>HostBindings</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#class.active-menuitem" >class.active-menuitem</a>
                            </li>
                        </ul>
                    </td>
                </tr>


                    <tr>
                        <td class="col-md-4">
                            <h6><b>Accessors</b></h6>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <ul class="index-list">
                                <li>
                                    <a href="#submenuAnimation" >submenuAnimation</a>
                                </li>
                                <li>
                                    <a href="#isHorizontal" >isHorizontal</a>
                                </li>
                                <li>
                                    <a href="#isSlim" >isSlim</a>
                                </li>
                                <li>
                                    <a href="#isSlimPlus" >isSlimPlus</a>
                                </li>
                                <li>
                                    <a href="#activeClass" >activeClass</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
        </tbody>
    </table>
</section>

    <section data-compodoc="block-constructor">
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor(layoutService: <a href="../injectables/LayoutService.html" target="_self">LayoutService</a>, cd: ChangeDetectorRef, router: Router, menuService: <a href="../injectables/MenuService.html" target="_self">MenuService</a>, appSidebar: <a href="../components/AppSidebarComponent.html" target="_self">AppSidebarComponent</a>)</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="87" class="link-to-prism">src/app/layout/app.menuitem.component.ts:87</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                            <div>
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>layoutService</td>
                                                  
                                                        <td>
                                                                        <code><a href="../injectables/LayoutService.html" target="_self" >LayoutService</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>cd</td>
                                                  
                                                        <td>
                                                                    <code>ChangeDetectorRef</code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>router</td>
                                                  
                                                        <td>
                                                                    <code>Router</code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>menuService</td>
                                                  
                                                        <td>
                                                                        <code><a href="../injectables/MenuService.html" target="_self" >MenuService</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>appSidebar</td>
                                                  
                                                        <td>
                                                                        <code><a href="../components/AppSidebarComponent.html" target="_self" >AppSidebarComponent</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>

    <section data-compodoc="block-inputs">
    <h3 id="inputs">Inputs</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="index"></a>
                        <b>index</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/number" target="_blank" >number</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="73" class="link-to-prism">src/app/layout/app.menuitem.component.ts:73</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="item"></a>
                        <b>item</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="71" class="link-to-prism">src/app/layout/app.menuitem.component.ts:71</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="parentKey"></a>
                        <b>parentKey</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="77" class="link-to-prism">src/app/layout/app.menuitem.component.ts:77</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="root"></a>
                        <b>root</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="75" class="link-to-prism">src/app/layout/app.menuitem.component.ts:75</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
</section>

    <section data-compodoc="block-properties">
    <h3>HostBindings</h3>    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="class.active-menuitem"></a>
                    <span class="name">
                        <span ><b>class.active-menuitem</b></span>
                        <a href="#class.active-menuitem"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="241" class="link-to-prism">src/app/layout/app.menuitem.component.ts:241</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
</section>


    <section data-compodoc="block-methods">
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="calculatePosition"></a>
                    <span class="name">
                        <span ><b>calculatePosition</b></span>
                        <a href="#calculatePosition"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>calculatePosition(overlay: HTMLElement, target: HTMLElement)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="150"
                            class="link-to-prism">src/app/layout/app.menuitem.component.ts:150</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>overlay</td>
                                    <td>
                                            <code>HTMLElement</code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                                <tr>
                                    <td>target</td>
                                    <td>
                                            <code>HTMLElement</code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="itemClick"></a>
                    <span class="name">
                        <span ><b>itemClick</b></span>
                        <a href="#itemClick"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>itemClick(event: Event)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="173"
                            class="link-to-prism">src/app/layout/app.menuitem.component.ts:173</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>event</td>
                                    <td>
                                            <code>Event</code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngAfterViewChecked"></a>
                    <span class="name">
                        <span ><b>ngAfterViewChecked</b></span>
                        <a href="#ngAfterViewChecked"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngAfterViewChecked()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="128"
                            class="link-to-prism">src/app/layout/app.menuitem.component.ts:128</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngOnDestroy"></a>
                    <span class="name">
                        <span ><b>ngOnDestroy</b></span>
                        <a href="#ngOnDestroy"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngOnDestroy()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="245"
                            class="link-to-prism">src/app/layout/app.menuitem.component.ts:245</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngOnInit"></a>
                    <span class="name">
                        <span ><b>ngOnInit</b></span>
                        <a href="#ngOnInit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngOnInit()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="120"
                            class="link-to-prism">src/app/layout/app.menuitem.component.ts:120</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="onMouseEnter"></a>
                    <span class="name">
                        <span ><b>onMouseEnter</b></span>
                        <a href="#onMouseEnter"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>onMouseEnter()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="212"
                            class="link-to-prism">src/app/layout/app.menuitem.component.ts:212</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="onSubmenuAnimated"></a>
                    <span class="name">
                        <span ><b>onSubmenuAnimated</b></span>
                        <a href="#onSubmenuAnimated"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>onSubmenuAnimated(event: AnimationEvent)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="142"
                            class="link-to-prism">src/app/layout/app.menuitem.component.ts:142</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>event</td>
                                    <td>
                                            <code>AnimationEvent</code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="updateActiveStateFromRoute"></a>
                    <span class="name">
                        <span ><b>updateActiveStateFromRoute</b></span>
                        <a href="#updateActiveStateFromRoute"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>updateActiveStateFromRoute()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="134"
                            class="link-to-prism">src/app/layout/app.menuitem.component.ts:134</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
    <section data-compodoc="block-properties">
    
    <h3 id="inputs">
        Properties
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="active"></a>
                    <span class="name">
                        <span ><b>active</b></span>
                        <a href="#active"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>false</code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="81" class="link-to-prism">src/app/layout/app.menuitem.component.ts:81</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="key"></a>
                    <span class="name">
                        <span ><b>key</b></span>
                        <a href="#key"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>&quot;&quot;</code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="87" class="link-to-prism">src/app/layout/app.menuitem.component.ts:87</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="layoutService"></a>
                    <span class="name">
                            <span class="modifier">Public</span>
                        <span ><b>layoutService</b></span>
                        <a href="#layoutService"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="../injectables/LayoutService.html" target="_self" >LayoutService</a></code>

                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="89" class="link-to-prism">src/app/layout/app.menuitem.component.ts:89</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="menuResetSubscription"></a>
                    <span class="name">
                        <span ><b>menuResetSubscription</b></span>
                        <a href="#menuResetSubscription"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code>Subscription</code>

                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="85" class="link-to-prism">src/app/layout/app.menuitem.component.ts:85</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="menuSourceSubscription"></a>
                    <span class="name">
                        <span ><b>menuSourceSubscription</b></span>
                        <a href="#menuSourceSubscription"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code>Subscription</code>

                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="83" class="link-to-prism">src/app/layout/app.menuitem.component.ts:83</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="router"></a>
                    <span class="name">
                            <span class="modifier">Public</span>
                        <span ><b>router</b></span>
                        <a href="#router"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code>Router</code>

                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="89" class="link-to-prism">src/app/layout/app.menuitem.component.ts:89</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="submenu"></a>
                    <span class="name">
                            <span class="modifier"></span>
                        <span ><b>submenu</b></span>
                        <a href="#submenu"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code>ElementRef</code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <b>Decorators : </b>
                        <br />
                        <code>
                            @ViewChild(&#x27;submenu&#x27;)<br />
                        </code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="79" class="link-to-prism">src/app/layout/app.menuitem.component.ts:79</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
</section>

    <section data-compodoc="block-accessors">
    <h3 id="accessors">
        Accessors
    </h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="submenuAnimation"></a>
                        <span class="name"><b>submenuAnimation</b><a href="#submenuAnimation"><span class="icon ion-ios-link"></span></a></span>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <span class="accessor"><b>get</b><code>submenuAnimation()</code></span>
                    </td>
                </tr>
                            <tr>
                                <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="222" class="link-to-prism">src/app/layout/app.menuitem.component.ts:222</a></div>
                                </td>
                            </tr>

            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="isHorizontal"></a>
                        <span class="name"><b>isHorizontal</b><a href="#isHorizontal"><span class="icon ion-ios-link"></span></a></span>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <span class="accessor"><b>get</b><code>isHorizontal()</code></span>
                    </td>
                </tr>
                            <tr>
                                <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="229" class="link-to-prism">src/app/layout/app.menuitem.component.ts:229</a></div>
                                </td>
                            </tr>

            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="isSlim"></a>
                        <span class="name"><b>isSlim</b><a href="#isSlim"><span class="icon ion-ios-link"></span></a></span>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <span class="accessor"><b>get</b><code>isSlim()</code></span>
                    </td>
                </tr>
                            <tr>
                                <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="233" class="link-to-prism">src/app/layout/app.menuitem.component.ts:233</a></div>
                                </td>
                            </tr>

            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="isSlimPlus"></a>
                        <span class="name"><b>isSlimPlus</b><a href="#isSlimPlus"><span class="icon ion-ios-link"></span></a></span>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <span class="accessor"><b>get</b><code>isSlimPlus()</code></span>
                    </td>
                </tr>
                            <tr>
                                <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="236" class="link-to-prism">src/app/layout/app.menuitem.component.ts:236</a></div>
                                </td>
                            </tr>

            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="activeClass"></a>
                        <span class="name"><b>activeClass</b><a href="#activeClass"><span class="icon ion-ios-link"></span></a></span>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <span class="accessor"><b>get</b><code>activeClass()</code></span>
                    </td>
                </tr>
                            <tr>
                                <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="241" class="link-to-prism">src/app/layout/app.menuitem.component.ts:241</a></div>
                                </td>
                            </tr>

            </tbody>
        </table>
</section>
</div>


    <div class="tab-pane fade  tab-source-code" id="source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { AnimationEvent, animate, state, style, transition, trigger } from &#x27;@angular/animations&#x27;;
import { AfterViewChecked, ChangeDetectorRef, Component, ElementRef, HostBinding, Input, OnDestroy, OnInit, ViewChild } from &#x27;@angular/core&#x27;;
import { NavigationEnd, Router } from &#x27;@angular/router&#x27;;
import { DomHandler } from &#x27;primeng/dom&#x27;;
import { Subscription } from &#x27;rxjs&#x27;;
import { filter } from &#x27;rxjs/operators&#x27;;
import { MenuService } from &#x27;./app.menu.service&#x27;;
import { AppSidebarComponent } from &#x27;./app.sidebar.component&#x27;;
import { LayoutService } from &#x27;./service/app.layout.service&#x27;;

@Component({
    // eslint-disable-next-line @angular-eslint/component-selector
    selector: &#x27;[tnx-menuitem]&#x27;,
    template: &#x60;
		&lt;ng-container&gt;
            &lt;div *ngIf&#x3D;&quot;root &amp;&amp; item.visible !&#x3D;&#x3D; false&quot; class&#x3D;&quot;layout-menuitem-root-text&quot;&gt;
                &lt;span&gt;{{item.label}}&lt;/span&gt;
                &lt;i class&#x3D;&quot;layout-menuitem-root-icon pi pi-fw pi-ellipsis-h&quot;&gt;&lt;/i&gt;
            &lt;/div&gt;
			&lt;a *ngIf&#x3D;&quot;!item.menuAndRoute &amp;&amp; (!item.routerLink || item.items) &amp;&amp; item.visible !&#x3D;&#x3D; false&quot; [attr.href]&#x3D;&quot;item.url&quot;  (click)&#x3D;&quot;itemClick($event)&quot;  (mouseenter)&#x3D;&quot;onMouseEnter()&quot;
			   [ngClass]&#x3D;&quot;item.class&quot; [attr.target]&#x3D;&quot;item.target&quot; tabindex&#x3D;&quot;0&quot; pRipple [pTooltip]&#x3D;&quot;item.label&quot; [tooltipDisabled]&#x3D;&quot;!(isSlim &amp;&amp; root &amp;&amp; !active)&quot;&gt;
				&lt;i [ngClass]&#x3D;&quot;item.icon&quot; class&#x3D;&quot;layout-menuitem-icon&quot;&gt;&lt;/i&gt;
				&lt;span class&#x3D;&quot;layout-menuitem-text&quot;&gt;{{item.label}}&lt;/span&gt;
				&lt;i class&#x3D;&quot;pi pi-fw pi-angle-down layout-submenu-toggler&quot; *ngIf&#x3D;&quot;item.items&quot;&gt;&lt;/i&gt;
			&lt;/a&gt;

            &lt;a *ngIf&#x3D;&quot;item.menuAndRoute &amp;&amp; (!item.routerLink || item.items) &amp;&amp; item.visible !&#x3D;&#x3D; false&quot; (mouseenter)&#x3D;&quot;onMouseEnter()&quot;
			   [ngClass]&#x3D;&quot;item.class&quot; class&#x3D;&quot;p-0&quot; [attr.target]&#x3D;&quot;item.target&quot; tabindex&#x3D;&quot;0&quot; pRipple [pTooltip]&#x3D;&quot;item.label&quot; [tooltipDisabled]&#x3D;&quot;!(isSlim &amp;&amp; root &amp;&amp; !active)&quot;&gt;
				&lt;i [ngClass]&#x3D;&quot;item.icon&quot; class&#x3D;&quot;layout-menuitem-icon&quot; style&#x3D;&quot;padding-top:0.75rem;padding-bottom:0.75rem;padding-left:0.75rem&quot; [routerLink]&#x3D;&quot;item.routerLink&quot;&gt;&lt;/i&gt;
				&lt;span class&#x3D;&quot;layout-menuitem-text m-0&quot; style&#x3D;&quot;padding:0.75rem;padding-right:0&quot; [routerLink]&#x3D;&quot;item.routerLink&quot;&gt;{{item.label}}&lt;/span&gt;
				&lt;i class&#x3D;&quot;pi pi-fw pi-angle-down layout-submenu-toggler&quot; (click)&#x3D;&quot;itemClick($event)&quot; style&#x3D;&quot;padding-left:0.75rem;padding-top:0.65rem;padding-bottom:0.85rem;padding-right:1.60rem&quot; *ngIf&#x3D;&quot;item.items&quot;&gt;&lt;/i&gt;
            &lt;/a&gt;

			&lt;a *ngIf&#x3D;&quot;(item.routerLink &amp;&amp; !item.items) &amp;&amp; item.visible !&#x3D;&#x3D; false&quot; (click)&#x3D;&quot;itemClick($event)&quot; (mouseenter)&#x3D;&quot;onMouseEnter()&quot; [ngClass]&#x3D;&quot;item.class&quot; 
			   [routerLink]&#x3D;&quot;item.routerLink&quot; routerLinkActive&#x3D;&quot;active-route&quot; [routerLinkActiveOptions]&#x3D;&quot;item.routerLinkActiveOptions||{ paths: &#x27;exact&#x27;, queryParams: &#x27;ignored&#x27;, matrixParams: &#x27;ignored&#x27;, fragment: &#x27;ignored&#x27; }&quot;
               [fragment]&#x3D;&quot;item.fragment&quot; [queryParamsHandling]&#x3D;&quot;item.queryParamsHandling&quot; [preserveFragment]&#x3D;&quot;item.preserveFragment&quot; 
               [skipLocationChange]&#x3D;&quot;item.skipLocationChange&quot; [replaceUrl]&#x3D;&quot;item.replaceUrl&quot; [state]&#x3D;&quot;item.state&quot; [queryParams]&#x3D;&quot;item.queryParams&quot;
               [attr.target]&#x3D;&quot;item.target&quot; tabindex&#x3D;&quot;0&quot; pRipple [pTooltip]&#x3D;&quot;item.label&quot; [tooltipDisabled]&#x3D;&quot;!(isSlim &amp;&amp; root)&quot;&gt;
				&lt;i [ngClass]&#x3D;&quot;item.icon&quot; class&#x3D;&quot;layout-menuitem-icon&quot;&gt;&lt;/i&gt;
				&lt;span class&#x3D;&quot;layout-menuitem-text&quot;&gt;{{item.label}}&lt;/span&gt;
				&lt;i class&#x3D;&quot;pi pi-fw pi-angle-down layout-submenu-toggler&quot; *ngIf&#x3D;&quot;item.items&quot;&gt;&lt;/i&gt;
			&lt;/a&gt;

			&lt;ul #submenu *ngIf&#x3D;&quot;item.items &amp;&amp; item.visible !&#x3D;&#x3D; false&quot; [@children]&#x3D;&quot;submenuAnimation&quot; (@children.done)&#x3D;&quot;onSubmenuAnimated($event)&quot;&gt;
				&lt;ng-template ngFor let-child let-i&#x3D;&quot;index&quot; [ngForOf]&#x3D;&quot;item.items&quot;&gt;
					&lt;li tnx-menuitem [item]&#x3D;&quot;child&quot; [index]&#x3D;&quot;i&quot; [parentKey]&#x3D;&quot;key&quot; [class]&#x3D;&quot;child.badgeClass&quot;&gt;&lt;/li&gt;
				&lt;/ng-template&gt;
			&lt;/ul&gt;
		&lt;/ng-container&gt;
    &#x60;,
    animations: [
        trigger(&#x27;children&#x27;, [
            state(&#x27;collapsed&#x27;, style({
                height: &#x27;0&#x27;
            })),
            state(&#x27;expanded&#x27;, style({
                height: &#x27;*&#x27;
            })),
            state(&#x27;hidden&#x27;, style({
                display: &#x27;none&#x27;
            })),
            state(&#x27;visible&#x27;, style({
                display: &#x27;block&#x27;
            })),
            transition(&#x27;collapsed &lt;&#x3D;&gt; expanded&#x27;, animate(&#x27;400ms cubic-bezier(0.86, 0, 0.07, 1)&#x27;))
        ])
    ]
})
export class AppMenuitemComponent implements OnInit, OnDestroy, AfterViewChecked {

    @Input() item: any;

    @Input() index!: number;

    @Input() @HostBinding(&#x27;class.layout-root-menuitem&#x27;) root!: boolean;

    @Input() parentKey!: string;

    @ViewChild(&#x27;submenu&#x27;) submenu!: ElementRef;

    active &#x3D; false;

    menuSourceSubscription: Subscription;

    menuResetSubscription: Subscription;

    key: string &#x3D; &quot;&quot;;

    constructor(public layoutService: LayoutService, private cd: ChangeDetectorRef, public router: Router, private menuService: MenuService, private appSidebar: AppSidebarComponent) {
        this.menuSourceSubscription &#x3D; this.menuService.menuSource$.subscribe(value &#x3D;&gt; {
            Promise.resolve(null).then(() &#x3D;&gt; {
                if (value.routeEvent) {
                    this.active &#x3D; (value.key &#x3D;&#x3D;&#x3D; this.key || value.key.startsWith(this.key + &#x27;-&#x27;)) ? true : false;
                }
                else {
                    if (value.key !&#x3D;&#x3D; this.key &amp;&amp; !value.key.startsWith(this.key + &#x27;-&#x27;)) {
                        this.active &#x3D; false;
                    }
                }
            });
        });

        this.menuResetSubscription &#x3D; this.menuService.resetSource$.subscribe(() &#x3D;&gt; {
            this.active &#x3D; false;
        });

        this.router.events.pipe(filter(event &#x3D;&gt; event instanceof NavigationEnd))
            .subscribe(params &#x3D;&gt; {
                if (this.isSlimPlus || this.isSlim || this.isHorizontal) {
                    this.active &#x3D; false;
                }
                else {
                    if (this.item.routerLink) {
                        this.updateActiveStateFromRoute();
                    }
                }
            });
    }

    ngOnInit() {
        this.key &#x3D; this.parentKey ? this.parentKey + &#x27;-&#x27; + this.index : String(this.index);

        if (!(this.isSlimPlus || this.isSlim || this.isHorizontal) &amp;&amp; this.item.routerLink) {
            this.updateActiveStateFromRoute();
        }
    }

    ngAfterViewChecked() {
        if (this.root &amp;&amp; this.active &amp;&amp; this.layoutService.isDesktop() &amp;&amp; (this.layoutService.isHorizontal() || this.layoutService.isSlim()|| this.layoutService.isSlimPlus())) {
            this.calculatePosition(this.submenu?.nativeElement, this.submenu?.nativeElement.parentElement);
        }
    }

    updateActiveStateFromRoute() {
        let activeRoute &#x3D; this.router.isActive(this.item.routerLink[0], { paths: &#x27;exact&#x27;, queryParams: &#x27;ignored&#x27;, matrixParams: &#x27;ignored&#x27;, fragment: &#x27;ignored&#x27; });

        if (activeRoute) {
            this.menuService.onMenuStateChange({key: this.key, routeEvent: true});
        }
    }

    onSubmenuAnimated(event: AnimationEvent) {
        if (event.toState &#x3D;&#x3D;&#x3D; &#x27;visible&#x27; &amp;&amp; this.layoutService.isDesktop() &amp;&amp; (this.layoutService.isHorizontal() || this.layoutService.isSlim()|| this.layoutService.isSlimPlus())) {
            const el &#x3D; &lt;HTMLUListElement&gt; event.element;
            const elParent &#x3D; &lt;HTMLUListElement&gt; el.parentElement;
            this.calculatePosition(el, elParent);
        }
    }

    calculatePosition(overlay: HTMLElement, target: HTMLElement) {
        if (overlay) {
            const { left, top } &#x3D; target.getBoundingClientRect();
            const [vWidth, vHeight] &#x3D; [window.innerWidth, window.innerHeight];
            const [oWidth, oHeight] &#x3D; [overlay.offsetWidth, overlay.offsetHeight];
            const scrollbarWidth &#x3D; DomHandler.calculateScrollbarWidth();
            const topbarEl &#x3D; document.querySelector(&#x27;.layout-topbar&#x27;) as HTMLElement;
            const topbarHeight &#x3D; topbarEl?.offsetHeight || 0;
            // reset
            overlay.style.top &#x3D; &#x27;&#x27;;
            overlay.style.left &#x3D; &#x27;&#x27;;
      
            if (this.layoutService.isHorizontal()) {
                const width &#x3D; left + oWidth + scrollbarWidth;
                overlay.style.left &#x3D; vWidth &lt; width ? &#x60;${left - (width - vWidth)}px&#x60; : &#x60;${left}px&#x60;;
            } else if ( this.layoutService.isSlim() || this.layoutService.isSlimPlus()) {
                const topOffset &#x3D; top - topbarHeight;
                const height &#x3D; topOffset + oHeight + topbarHeight;
                overlay.style.top &#x3D; vHeight &lt; height ? &#x60;${topOffset - (height - vHeight)}px&#x60; : &#x60;${topOffset}px&#x60;;
            }
        }
    }

    itemClick(event: Event) {
        // avoid processing disabled items
        if (this.item.disabled) {
            event.preventDefault();
            return;
        }

        // navigate with hover
        if (this.root &amp;&amp; this.isSlim || this.isHorizontal || this.isSlimPlus) {
            this.layoutService.state.menuHoverActive &#x3D; !this.layoutService.state.menuHoverActive;
        }

        // execute command
        if (this.item.command) {
            this.item.command({ originalEvent: event, item: this.item });
        }

        // toggle active state
        if (this.item.items) {
            this.active &#x3D; !this.active;

            if (this.root &amp;&amp; this.active &amp;&amp; (this.isSlim || this.isHorizontal || this.isSlimPlus)) {
                this.layoutService.onOverlaySubmenuOpen();
            }
        }
        else {
            if (this.layoutService.isMobile()) {
                this.layoutService.state.staticMenuMobileActive &#x3D; false;
            }

            if (this.isSlim || this.isHorizontal || this.isSlimPlus) {
                this.menuService.reset();
                this.layoutService.state.menuHoverActive &#x3D; false;
            }
        }

        this.menuService.onMenuStateChange({key: this.key});
    }

    onMouseEnter() {
        // activate item on hover
        if (this.root &amp;&amp; (this.isSlim || this.isHorizontal || this.isSlimPlus) &amp;&amp; this.layoutService.isDesktop()) {
            if (this.layoutService.state.menuHoverActive) {
                this.active &#x3D; true;
                this.menuService.onMenuStateChange({key: this.key});
            }
        }
    }

    get submenuAnimation() {
        if (this.layoutService.isDesktop() &amp;&amp; (this.layoutService.isHorizontal() || this.layoutService.isSlim()|| this.layoutService.isSlimPlus()))
            return this.active ? &#x27;visible&#x27; : &#x27;hidden&#x27;;
        else
            return this.root ? &#x27;expanded&#x27; : (this.active ? &#x27;expanded&#x27; : &#x27;collapsed&#x27;);
    }

    get isHorizontal() {
        return this.layoutService.isHorizontal();
    }

    get isSlim() {
        return this.layoutService.isSlim();
    }
    get isSlimPlus() {
        return this.layoutService.isSlimPlus();
    }

    @HostBinding(&#x27;class.active-menuitem&#x27;) 
    get activeClass() {
        return this.active &amp;&amp; !this.root;
    }

    ngOnDestroy() {
        if (this.menuSourceSubscription) {
            this.menuSourceSubscription.unsubscribe();
        }

        if (this.menuResetSubscription) {
            this.menuResetSubscription.unsubscribe();
        }
    }
}
</code></pre>
    </div>



    <div class="tab-pane fade " id="tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><ng-container>          <div *ngIf="root && item.visible !== false" class="layout-menuitem-root-text">              <span>{{item.label}}</span>              <i class="layout-menuitem-root-icon pi pi-fw pi-ellipsis-h"></i>          </div>	<a *ngIf="!item.menuAndRoute && (!item.routerLink || item.items) && item.visible !== false" [attr.href]="item.url"  (click)="itemClick($event)"  (mouseenter)="onMouseEnter()"	   [ngClass]="item.class" [attr.target]="item.target" tabindex="0" pRipple [pTooltip]="item.label" [tooltipDisabled]="!(isSlim && root && !active)">		<i [ngClass]="item.icon" class="layout-menuitem-icon"></i>		<span class="layout-menuitem-text">{{item.label}}</span>		<i class="pi pi-fw pi-angle-down layout-submenu-toggler" *ngIf="item.items"></i>	</a>          <a *ngIf="item.menuAndRoute && (!item.routerLink || item.items) && item.visible !== false" (mouseenter)="onMouseEnter()"	   [ngClass]="item.class" class="p-0" [attr.target]="item.target" tabindex="0" pRipple [pTooltip]="item.label" [tooltipDisabled]="!(isSlim && root && !active)">		<i [ngClass]="item.icon" class="layout-menuitem-icon" style="padding-top:0.75rem;padding-bottom:0.75rem;padding-left:0.75rem" [routerLink]="item.routerLink"></i>		<span class="layout-menuitem-text m-0" style="padding:0.75rem;padding-right:0" [routerLink]="item.routerLink">{{item.label}}</span>		<i class="pi pi-fw pi-angle-down layout-submenu-toggler" (click)="itemClick($event)" style="padding-left:0.75rem;padding-top:0.65rem;padding-bottom:0.85rem;padding-right:1.60rem" *ngIf="item.items"></i>          </a>	<a *ngIf="(item.routerLink && !item.items) && item.visible !== false" (click)="itemClick($event)" (mouseenter)="onMouseEnter()" [ngClass]="item.class"	   [routerLink]="item.routerLink" routerLinkActive="active-route" [routerLinkActiveOptions]="item.routerLinkActiveOptions||{ paths: \'exact\', queryParams: \'ignored\', matrixParams: \'ignored\', fragment: \'ignored\' }"             [fragment]="item.fragment" [queryParamsHandling]="item.queryParamsHandling" [preserveFragment]="item.preserveFragment"             [skipLocationChange]="item.skipLocationChange" [replaceUrl]="item.replaceUrl" [state]="item.state" [queryParams]="item.queryParams"             [attr.target]="item.target" tabindex="0" pRipple [pTooltip]="item.label" [tooltipDisabled]="!(isSlim && root)">		<i [ngClass]="item.icon" class="layout-menuitem-icon"></i>		<span class="layout-menuitem-text">{{item.label}}</span>		<i class="pi pi-fw pi-angle-down layout-submenu-toggler" *ngIf="item.items"></i>	</a>	<ul #submenu *ngIf="item.items && item.visible !== false" [@children]="submenuAnimation" (@children.done)="onSubmenuAnimated($event)">		<ng-template ngFor let-child let-i="index" [ngForOf]="item.items">			<li tnx-menuitem [item]="child" [index]="i" [parentKey]="key" [class]="child.badgeClass"></li>		</ng-template>	</ul></ng-container></div>'
    var COMPONENTS = [{'name': 'AcabamentoMaterialComponent', 'selector': 'tnx-acabamento-material'},{'name': 'AccordionComponent', 'selector': 'tnx-accordion'},{'name': 'AlertDefaultComponent', 'selector': 'tnx-alert-default'},{'name': 'ApelidosItemEstoqueComponent', 'selector': 'tnx-apelidos-item-estoque'},{'name': 'AppBreadcrumbComponent', 'selector': 'tnx-breadcrumb'},{'name': 'AppComponent', 'selector': 'tnx-app'},{'name': 'AppConfigComponent', 'selector': 'tnx-config'},{'name': 'AppFooterComponent', 'selector': 'tnx-footer'},{'name': 'AppLayoutComponent', 'selector': 'tnx-layout'},{'name': 'AppMenuComponent', 'selector': 'tnx-menu'},{'name': 'AppMenuitemComponent', 'selector': '[tnx-menuitem]'},{'name': 'AppMenuProfileComponent', 'selector': 'tnx-menu-profile'},{'name': 'AppRightMenuComponent', 'selector': 'tnx-rightmenu'},{'name': 'AppSidebarComponent', 'selector': 'tnx-sidebar'},{'name': 'AppTopbarComponent', 'selector': 'tnx-topbar'},{'name': 'BaseComboComponent', 'selector': 'tnx-base-combo'},{'name': 'BaseComboComponent', 'selector': 'tnx-base-combo'},{'name': 'BaseFormComponent', 'selector': ''},{'name': 'BaseListComponent', 'selector': ''},{'name': 'BlocoComponent', 'selector': 'tnx-bloco'},{'name': 'BlocoComponent', 'selector': 'tnx-bloco'},{'name': 'BuscaLoteComponent', 'selector': 'tnx-busca-lote'},{'name': 'ButtonActionComponent', 'selector': 'tnx-button-action'},{'name': 'ButtonAddCircleComponent', 'selector': 'tnx-button-add-circle'},{'name': 'ButtonCloseCircleComponent', 'selector': 'tnx-button-close-circle'},{'name': 'ButtonComponent', 'selector': 'tnx-button'},{'name': 'ButtonConsultasLoteComponent', 'selector': 'tnx-button-consultas-lote'},{'name': 'ButtonMovimentacaoComponent', 'selector': 'tnx-button-movimentacao'},{'name': 'ButtonPecasCortadasEstoqueComponent', 'selector': 'tnx-button-pecas-cortadas-estoque'},{'name': 'ButtonPecasCortadasLoteComponent', 'selector': 'tnx-button-pecas-cortadas-lote'},{'name': 'ButtonPedidoCompraComponent', 'selector': 'tnx-button-pedido-compra'},{'name': 'CardComponent', 'selector': 'tnx-card'},{'name': 'CertificadoUsinaComponent', 'selector': 'tnx-certificado-usina'},{'name': 'CheckboxComponent', 'selector': 'tnx-checkbox'},{'name': 'ClassificacaoNcmComponent', 'selector': 'tnx-classificacao-ncm'},{'name': 'CodigosFornecedorCadastradosComponent', 'selector': 'tnx-codigos-fornecedor-cadastrados'},{'name': 'ComboCategoriaMovimentacaoComponent', 'selector': 'tnx-combo-categoria-movimentacao'},{'name': 'ComboClassificacaoFiscalComponent', 'selector': 'tnx-combo-classificacao-fiscal'},{'name': 'ComboColunaComponent', 'selector': 'tnx-combo-coluna'},{'name': 'ComboComposicaoQuimicaComponent', 'selector': 'tnx-combo-composicao-quimica'},{'name': 'ComboCondicoesPagamentoComponent', 'selector': 'tnx-combo-condicoes-pagamento'},{'name': 'ComboCstComponent', 'selector': 'tnx-combo-cst'},{'name': 'ComboCstEspComponent', 'selector': 'tnx-combo-cst-esp'},{'name': 'ComboEmpresaComponent', 'selector': 'tnx-combo-empresa'},{'name': 'ComboEstadoComponent', 'selector': 'tnx-combo-estado'},{'name': 'ComboFormaComponent', 'selector': 'tnx-combo-forma'},{'name': 'ComboFornecedorComponent', 'selector': 'tnx-combo-fornecedor'},{'name': 'ComboFreteComponent', 'selector': 'tnx-combo-frete'},{'name': 'ComboGalpaoComponent', 'selector': 'tnx-combo-galpao'},{'name': 'ComboGrupoComponent', 'selector': 'tnx-combo-grupo'},{'name': 'ComboGrupoSegmentoComponent', 'selector': 'tnx-combo-grupo-segmento'},{'name': 'ComboItemEstoqueComponent', 'selector': 'tnx-combo-item-estoque'},{'name': 'ComboMaterialComponent', 'selector': 'tnx-combo-material'},{'name': 'ComboMedidaCorteComponent', 'selector': 'tnx-combo-medida-corte'},{'name': 'ComboMedidaMaterialComponent', 'selector': 'tnx-combo-medida-material'},{'name': 'ComboMotivoPagamentoComponent', 'selector': 'tnx-combo-motivo-pagamento'},{'name': 'ComboMunicipioComponent', 'selector': 'tnx-combo-municipio'},{'name': 'ComboOrigemMovimentacaoComponent', 'selector': 'tnx-combo-origem-movimentacao'},{'name': 'ComboPaisesComponent', 'selector': 'tnx-combo-paises'},{'name': 'ComboRelatorioTipoCadastroComponent', 'selector': 'tnx-combo-relatorio-tipo-cadastro'},{'name': 'ComboRelatorioTipoGrupoComponent', 'selector': 'tnx-combo-relatorio-tipo-grupo'},{'name': 'ComboRelatorioTipoGrupoSegmentoComponent', 'selector': 'tnx-combo-relatorio-tipo-grupo-segmento'},{'name': 'ComboSegmentoComponent', 'selector': 'tnx-combo-segmento'},{'name': 'ComboStatusLiberacaoComponent', 'selector': 'tnx-combo-status-liberacao'},{'name': 'ComboStatusPedidoComponent', 'selector': 'tnx-combo-status-pedido'},{'name': 'ComboSubFormaComponent', 'selector': 'tnx-combo-sub-forma'},{'name': 'ComboSubGrupoComponent', 'selector': 'tnx-combo-sub-grupo'},{'name': 'ComboTipoEntradaItemEstoqueComponent', 'selector': 'tnx-combo-tipo-entrada-pedido'},{'name': 'ComboTipoLoteComponent', 'selector': 'tnx-combo-tipo-lote'},{'name': 'ComboTipoMaterialComponent', 'selector': 'tnx-combo-tipo-material'},{'name': 'ComboTipoMovimentacaoComponent', 'selector': 'tnx-combo-tipo-movimentacao'},{'name': 'ComboTipoPagamentoComponent', 'selector': 'tnx-combo-tipo-pagamento'},{'name': 'ComboTipoPedidoComponent', 'selector': 'tnx-combo-tipo-pedido'},{'name': 'ComboUfComponent', 'selector': 'tnx-combo-uf'},{'name': 'ComboUnidadeLocalComponent', 'selector': 'tnx-combo-unidade-local'},{'name': 'ComboUnidadePesoComponent', 'selector': 'tnx-combo-unidade-peso'},{'name': 'ConfirmDefaultComponent', 'selector': 'tnx-confirm-default'},{'name': 'ContatosFornecedorCadastroComponent', 'selector': 'tnx-contatos-fornecedor-cadastro'},{'name': 'ControlValueAccessorComponent', 'selector': ''},{'name': 'CriterioAtribuicaoNotasComponent', 'selector': 'tnx-criterio-atribuicao-notas'},{'name': 'CustoItemEstoqueComponent', 'selector': 'tnx-custo-item-estoque'},{'name': 'CustomComboComponent', 'selector': 'tnx-custom-combo'},{'name': 'CustomInputComponent', 'selector': 'tnx-custom-input'},{'name': 'DashboardComponent', 'selector': 'tnx-dashboard'},{'name': 'DashboardCrescimentoEstoqueComponent', 'selector': 'tnx-dashboard-crescimento-estoque'},{'name': 'DashboardMenuComponent', 'selector': 'tnx-dashboard-menu'},{'name': 'DetalheRecebimentoItemMaterialComponent', 'selector': 'tnx-detalhe-recebimento-item-material'},{'name': 'DetalheRecebimentoMaterialComponent', 'selector': 'tnx-detalhe-recebimento-material'},{'name': 'EnderecosFornecedorCadastroComponent', 'selector': 'tnx-enderecos-fornecedor-cadastro'},{'name': 'ErroCampoFormularioComponent', 'selector': 'tnx-erro-campo-formulario'},{'name': 'EstadoMaterialComponent', 'selector': 'tnx-estado-material'},{'name': 'FiltroDescricaoComponent', 'selector': 'tnx-filtro-descricao'},{'name': 'FiltroEntradaComponent', 'selector': 'tnx-filtro-entrada'},{'name': 'FiltroFornecedorComponent', 'selector': 'tnx-filtro-fornecedor'},{'name': 'FiltroItemEstoqueComponent', 'selector': 'tnx-filtro-item-estoque'},{'name': 'FiltroLoteRastreabilidadeComponent', 'selector': 'tnx-filtro-lote-rastreabilidade'},{'name': 'FiltroManutencaoLoteComponent', 'selector': 'tnx-filtro-manutencao-lote'},{'name': 'FiltroPedidoCompraComponent', 'selector': 'tnx-filtro-pedido-compra'},{'name': 'FiltroPrecoPraticadoComponent', 'selector': 'tnx-filtro-preco-praticado'},{'name': 'FiltroRecebimentoMaterialComponent', 'selector': 'tnx-filtro-recebimento-material'},{'name': 'FormAcabamentoMaterialComponent', 'selector': 'tnx-form-acabamento-material'},{'name': 'FormaMaterialComponent', 'selector': 'tnx-forma-material'},{'name': 'FormApelidosItemEstoqueComponent', 'selector': 'tnx-form-apelidos-item-estoque'},{'name': 'FormClassificacaoNcmComponent', 'selector': 'tnx-form-classificacao-ncm'},{'name': 'FormDevolucaoComponent', 'selector': 'tnx-form-devolucao'},{'name': 'FormEntradaItemEstoqueComponent', 'selector': 'tnx-form-entrada-pedido'},{'name': 'FormEstadoMaterialComponent', 'selector': 'tnx-form-estado-material'},{'name': 'FormFormaMaterialComponent', 'selector': 'tnx-form-forma-material'},{'name': 'FormFornecedorCadastroComponent', 'selector': 'tnx-form-fornecedor-cadastro'},{'name': 'FormGalpaoComponent', 'selector': 'tnx-form-galpao'},{'name': 'FormGrupoComponent', 'selector': 'tnx-form-grupo'},{'name': 'FormGrupoSegmentoComponent', 'selector': 'tnx-form-grupo-segmento'},{'name': 'FormInfoFornecedorComponent', 'selector': 'tnx-form-info-fornecedor'},{'name': 'FormItemEstoqueComponent', 'selector': 'tnx-form-item-estoque'},{'name': 'FormItemPedidoCompraAbstractComponent', 'selector': ''},{'name': 'FormItemPedidoCompraComponent', 'selector': 'tnx-form-item-pedido-compra'},{'name': 'FormItemPedidoCompraNovoComponent', 'selector': 'tnx-form-item-pedido-compra-novo'},{'name': 'FormLoteRastreabilidadeComponent', 'selector': 'tnx-form-lote-rastreabilidade'},{'name': 'FormManutencaoLoteComponent', 'selector': 'tnx-form-manutencao-lote'},{'name': 'FormMaterialAchadoSemloteComponent', 'selector': 'tnx-form-material-achado-semlote'},{'name': 'FormMaterialComponent', 'selector': 'tnx-form-material'},{'name': 'FormMaterialMedidaComponent', 'selector': 'tnx-form-material-medida'},{'name': 'FormMovimentacaoComponent', 'selector': 'tnx-form-movimentacao'},{'name': 'FormPedidoCompraComponent', 'selector': 'tnx-form-pedido-compra'},{'name': 'FormPercentualBaixaBlocoComponent', 'selector': 'tnx-form-percentual-baixa-bloco'},{'name': 'FormPesoBaixaBlocoComponent', 'selector': 'tnx-form-peso-baixa-bloco'},{'name': 'FormPrecoPraticadoEstoqueComponent', 'selector': 'tnx-form-preco-praticado-estoque'},{'name': 'FormPrecosColunasComponent', 'selector': 'tnx-form-precos-colunas'},{'name': 'FormQtdRecebidaComponent', 'selector': 'tnx-form-qtd-recebida'},{'name': 'FormSegmentoComponent', 'selector': 'tnx-form-segmento'},{'name': 'FormSubfatorComponent', 'selector': 'tnx-form-subfator'},{'name': 'FormSubGrupoComponent', 'selector': 'tnx-form-sub-grupo'},{'name': 'FormTipoMaterialComponent', 'selector': 'tnx-form-tipo-material'},{'name': 'FormTipoMovimentacaoComponent', 'selector': 'tnx-form-tipo-movimentacao'},{'name': 'FormTratamentoTermicoComponent', 'selector': 'tnx-form-tratamento-termico'},{'name': 'FormUnidadeLocalComponent', 'selector': 'tnx-form-unidade-local'},{'name': 'FornecedorComponent', 'selector': 'tnx-fornecedor'},{'name': 'GalpaoComponent', 'selector': 'tnx-galpao'},{'name': 'GeraLoteItemPedidoComponent', 'selector': 'tnx-gera-lote-item-pedido'},{'name': 'GrupoComponent', 'selector': 'tnx-grupo'},{'name': 'GrupoSegmentoComponent', 'selector': 'tnx-grupo-segmento'},{'name': 'InputComponent', 'selector': 'tnx-input'},{'name': 'InputDateComponent', 'selector': 'tnx-input-date'},{'name': 'InputFileComponent', 'selector': 'tnx-input-file'},{'name': 'InputFornecedorComponent', 'selector': 'tnx-input-fornecedor'},{'name': 'InputMedidaComponent', 'selector': 'tnx-input-medida'},{'name': 'InputMedidaGroupComponent', 'selector': 'tnx-input-medida-group'},{'name': 'InputMoneyComponent', 'selector': 'tnx-input-money'},{'name': 'InputsTableAvaliacaoComponent', 'selector': 'tnx-inputs-table-avaliacao'},{'name': 'InputTextareaComponent', 'selector': 'tnx-input-textarea'},{'name': 'InputValidatorComponent', 'selector': 'tnx-input-validator'},{'name': 'ItemFornecedorComponent', 'selector': 'tnx-item-fornecedor'},{'name': 'ListComponent', 'selector': 'tnx-list'},{'name': 'LoginComponent', 'selector': 'tnx-login'},{'name': 'MaterialComponent', 'selector': 'tnx-material'},{'name': 'MaterialMedidaComponent', 'selector': 'tnx-material-medida'},{'name': 'MedidaGroupComponent', 'selector': 'tnx-medida-group'},{'name': 'ModalArquivoCertificadoComponent', 'selector': 'tnx-modal-arquivo-certificado'},{'name': 'ModalAtalhosComponent', 'selector': 'tnx-modal-atalhos'},{'name': 'ModalBuscaFornecedorComponent', 'selector': 'tnx-modal-busca-fornecedor'},{'name': 'ModalContatosFornecedorComponent', 'selector': 'tnx-modal-contatos-fornecedor'},{'name': 'ModalCortadasComponent', 'selector': 'tnx-modal-cortadas'},{'name': 'ModalEnderecosFornecedorCadastroComponent', 'selector': 'tnx-modal-enderecos-fornecedor-cadastro'},{'name': 'ModalEntradaItemPedidoComponent', 'selector': 'tnx-modal-entrada-item-pedido'},{'name': 'ModalEntradasComponent', 'selector': 'tnx-modal-entradas'},{'name': 'ModalGerarEtiquetaComponent', 'selector': 'tnx-modal-gerar-etiqueta'},{'name': 'ModalLotesComponent', 'selector': 'tnx-modal-lotes'},{'name': 'ModalLotesRastreabilidadeComponent', 'selector': 'tnx-modal-lotes-rastreabilidade'},{'name': 'ModalMovimentacaoComponent', 'selector': 'tnx-modal-movimentacao'},{'name': 'ModalOrdemCompraComponent', 'selector': 'tnx-modal-ordem-compra'},{'name': 'ModalPedidoCompraComponent', 'selector': 'tnx-modal-pedido-compra'},{'name': 'MovimentacaoEntradaComponent', 'selector': 'tnx-movimentacao-entrada'},{'name': 'MovimentacaoSaidaComponent', 'selector': 'tnx-movimentacao-saida'},{'name': 'PagesComponent', 'selector': 'tnx-pages'},{'name': 'PecaCortadaComponent', 'selector': 'tnx-peca-cortada'},{'name': 'PecaCortadaComponent', 'selector': 'tnx-peca-cortada'},{'name': 'PecaInteiraComponent', 'selector': 'tnx-peca-inteira'},{'name': 'PecaInteiraComponent', 'selector': 'tnx-peca-inteira'},{'name': 'PercentualBaixaBlocoComponent', 'selector': 'tnx-percentual-baixa-bloco'},{'name': 'PeriodoComponent', 'selector': 'tnx-periodo'},{'name': 'PesoBaixaBlocoComponent', 'selector': 'tnx-peso-baixa-bloco'},{'name': 'PortalCadastrosComponent', 'selector': 'tnx-portal-cadastros'},{'name': 'PortalComponent', 'selector': 'tnx-portal'},{'name': 'PrecosColunasComponent', 'selector': 'tnx-precos-colunas'},{'name': 'QuantidadeItemComponent', 'selector': 'tnx-quantidade-item'},{'name': 'QuantidadeTotalComponent', 'selector': 'tnx-quantidade-total'},{'name': 'RelatorioEntradaMaterialSegmentoComponent', 'selector': 'tnx-relatorio-entrada-material-segmento'},{'name': 'RelatorioInformacoesItemEstoqueComponent', 'selector': 'tnx-relatorio-item-estoque'},{'name': 'RelatorioInventarioIMEComponent', 'selector': 'tnx-relatorio-inventario-ime'},{'name': 'RelatorioItemEstoqueCodigoComponent', 'selector': 'tnx-relatorio-item-estoque-codigo'},{'name': 'RelatorioItemEstoqueComponent', 'selector': 'tnx-relatorio-item-estoque'},{'name': 'RelatorioItemEstoqueQtdMinComponent', 'selector': 'tnx-relatorio-item-estoque-qtd-min'},{'name': 'RelatorioItemPedidoCompraComponent', 'selector': 'tnx-relatorio-item-pedido-compra'},{'name': 'RelatorioMarcacaoLotesComponent', 'selector': 'tnx-relatorio-marcacao-lotes'},{'name': 'RelatorioMaterialEmpenhadoComponent', 'selector': 'tnx-relatorio-material-empenhado'},{'name': 'RelatorioMovEntradaConsultasComponent', 'selector': 'tnx-relatorio-mov-entrada-consultas'},{'name': 'RelatorioMovimentacaoEstoqueComponent', 'selector': 'tnx-relatorio-movimentacao-estoque'},{'name': 'RelatorioMovimentacaoEstoqueSegmentoComponent', 'selector': 'tnx-relatorio-movimentacao-estoque-segmento'},{'name': 'RelatorioPecasCortadasComponent', 'selector': 'tnx-relatorio-pecas-cortadas'},{'name': 'RelatorioPesosCobradosAbaixoTeoricoComponent', 'selector': 'tnx-relatorio-pesos-cobrados-abaixo-teorico'},{'name': 'RelatorioQuantidadeCompradaComponent', 'selector': 'tnx-relatorio-quantidade-comprada'},{'name': 'RelatorioSegmentoGrupoComponent', 'selector': 'tnx-relatorio-segmento-grupo'},{'name': 'RelatorioTabelaPrecosComponent', 'selector': 'tnx-relatorio-tabela-precos'},{'name': 'ReportMenuComponent', 'selector': 'tnx-report-menu'},{'name': 'SegmentoComponent', 'selector': 'tnx-segmento'},{'name': 'SelecionaMedidaGroupsComponent', 'selector': 'tnx-seleciona-medida-groups'},{'name': 'SidebarComponent', 'selector': 'tnx-sidebar'},{'name': 'SubfatorComponent', 'selector': 'tnx-subfator'},{'name': 'SubGrupoComponent', 'selector': 'tnx-sub-grupo'},{'name': 'TabelaAcabamentoMaterialComponent', 'selector': 'tnx-tabela-acabamento-material'},{'name': 'TabelaApelidosItemEstoqueComponent', 'selector': 'tnx-tabela-apelidos-item-estoque'},{'name': 'TabelaBlocoComponent', 'selector': 'tnx-tabela-bloco'},{'name': 'TabelaBlocoSaidaComponent', 'selector': 'tnx-tabela-bloco-saida'},{'name': 'TabelaBlocosEntradaComponent', 'selector': 'tnx-tabela-blocos-entrada'},{'name': 'TabelaCertificadoUsinaComponent', 'selector': 'tnx-tabela-certificado-usina'},{'name': 'TabelaClassificacaoNcmComponent', 'selector': 'tnx-tabela-classificacao-ncm'},{'name': 'TabelaComprasComponent', 'selector': 'tnx-tabela-item-pedido'},{'name': 'TabelaComprasComponent', 'selector': 'tnx-tabela-item-pedido'},{'name': 'TabelaEnsaioTemperabilidadeComponent', 'selector': 'tnx-tabela-ensaio-temperabilidade'},{'name': 'TabelaEntradaGeraLoteComponent', 'selector': 'tnx-tabela-entrada-gera-lote'},{'name': 'TabelaEntradaItemComponent', 'selector': 'tnx-tabela-entrada-item'},{'name': 'TabelaEntradaItemDevolucaoComponent', 'selector': 'tnx-tabela-entrada-item-devolucao'},{'name': 'TabelaEntradaItemEstoqueComponent', 'selector': 'tnx-tabela-entrada-item-gera-lote-novo-estoque'},{'name': 'TabelaEntradaItemGeraLoteComponent', 'selector': 'tnx-tabela-entrada-item-gera-lote'},{'name': 'TabelaEntradaItemMaterialAchadoComponent', 'selector': 'tnx-tabela-entrada-item-material-achado'},{'name': 'TabelaEntradaItemNovoComponent', 'selector': 'tnx-tabela-entrada-item-novo'},{'name': 'TabelaEstadoMaterialComponent', 'selector': 'tnx-tabela-estado-material'},{'name': 'TabelaFormaMaterialComponent', 'selector': 'tnx-tabela-forma-material'},{'name': 'TabelaFornecedorCadastroComponent', 'selector': 'tnx-tabela-fornecedor-cadastro'},{'name': 'TabelaFornecedorContatoComponent', 'selector': 'tnx-tabela-fornecedor-contato'},{'name': 'TabelaGalpaoComponent', 'selector': 'tnx-tabela-galpao'},{'name': 'TabelaGrupoComponent', 'selector': 'tnx-tabela-grupo'},{'name': 'TabelaGrupoSegmentoComponent', 'selector': 'tnx-tabela-grupo-segmento'},{'name': 'TabelaHistoricoQualificacaoComponent', 'selector': 'tnx-tabela-historico-qualificacao'},{'name': 'TabelaIcmsIncentivoComponent', 'selector': 'tnx-tabela-icms-incentivo'},{'name': 'TabelaIndicadorSaldoItemEstoqueComponent', 'selector': 'tnx-tabela-indicador-saldo-item-estoque'},{'name': 'TabelaItemEstoqueComponent', 'selector': 'tnx-tabela-item-estoque'},{'name': 'TabelaItemPedidoNovoComponent', 'selector': 'tnx-tabela-item-pedido-novo'},{'name': 'TabelaLoteRastreabilidadeComponent', 'selector': 'tnx-tabela-lote-rastreabilidade'},{'name': 'TabelaLoteRastreabilidadeComponent', 'selector': 'tnx-tabela-lote-rastreabilidade'},{'name': 'TabelaLotesZeradosComponent', 'selector': 'tnx-tabela-lotes-zerados'},{'name': 'TabelaManutencaoLoteComponent', 'selector': 'tnx-tabela-manutencao-lote'},{'name': 'TabelaMaterialComponent', 'selector': 'tnx-tabela-material'},{'name': 'TabelaMaterialMedidaComponent', 'selector': 'tnx-tabela-material-medida'},{'name': 'TabelaPecasCortadasComponent', 'selector': 'tnx-tabela-pecas-cortadas'},{'name': 'TabelaPecasCortadasEntradaComponent', 'selector': 'tnx-tabela-pecas-cortadas-entrada'},{'name': 'TabelaPecasCortadasSaidaComponent', 'selector': 'tnx-tabela-pecas-cortadas-saida'},{'name': 'TabelaPedidoCompraComponent', 'selector': 'tnx-tabela-pedido-compra'},{'name': 'TabelaPercentualBaixaBlocoComponent', 'selector': 'tnx-tabela-percentual-baixa-bloco'},{'name': 'TabelaPesoBaixaBlocoComponent', 'selector': 'tnx-tabela-peso-baixa-bloco'},{'name': 'TabelaPrecoPraticadoEstoqueComponent', 'selector': 'tnx-tabela-preco-praticado-estoque'},{'name': 'TabelaPrecosColunasComponent', 'selector': 'tnx-tabela-precos-colunas'},{'name': 'TabelaPrimeComponent', 'selector': 'tnx-tabela-prime'},{'name': 'TabelaRecebimentoItemComponent', 'selector': 'tnx-tabela-recebimento-item'},{'name': 'TabelaRecebimentoMaterialComponent', 'selector': 'tnx-tabela-recebimento-material'},{'name': 'TabelaSaldosGalpaoComponent', 'selector': 'tnx-tabela-saldos-galpao'},{'name': 'TabelaSegmentoComponent', 'selector': 'tnx-tabela-segmento'},{'name': 'TabelaSubfatorComponent', 'selector': 'tnx-tabela-subfator'},{'name': 'TabelaSubGrupoComponent', 'selector': 'tnx-tabela-sub-grupo'},{'name': 'TabelaTipoMaterialComponent', 'selector': 'tnx-tabela-tipo-material'},{'name': 'TabelaTipoMovimentacaoComponent', 'selector': 'tnx-tabela-tipo-movimentacao'},{'name': 'TabelaTratamentoTermicoComponent', 'selector': 'tnx-tabela-tratamento-termico'},{'name': 'TabelaUnidadeLocalComponent', 'selector': 'tnx-tabela-unidade-local'},{'name': 'TemplateComponent', 'selector': 'tnx-cadastros'},{'name': 'TemplateComponent', 'selector': 'tnx-movimentacao'},{'name': 'TemplateComponent', 'selector': 'tnx-movimentacao'},{'name': 'TemplateComponent', 'selector': 'tnx-movimentacao'},{'name': 'TemplateComponent', 'selector': 'tnx-movimentacao'},{'name': 'TemplateComponent', 'selector': 'tnx-movimentacao'},{'name': 'TemplateComponent', 'selector': 'tnx-movimentacao'},{'name': 'TemplateComponent', 'selector': 'tnx-cadastros'},{'name': 'TemplateComponent', 'selector': 'tnx-movimentacao'},{'name': 'TemplateComponent', 'selector': 'tnx-relatorios'},{'name': 'TesteInputsComponent', 'selector': 'tnx-teste-inputs'},{'name': 'TipoMaterialComponent', 'selector': 'tnx-tipo-material'},{'name': 'TipoMovimentacaoComponent', 'selector': 'tnx-tipo-movimentacao'},{'name': 'TratamentoTermicoComponent', 'selector': 'tnx-tratamento-termico'},{'name': 'UnidadeLocalComponent', 'selector': 'tnx-unidade-local'}];
    var DIRECTIVES = [{'name': 'AutofocusDirective', 'selector': '[tnxAutoFocus]'},{'name': 'CheckPermissionsDirective', 'selector': '[tnxCheckPermissions]'},{'name': 'ColorBackgroundParentDirective', 'selector': '[tnxColorBackgroundParent]'},{'name': 'InputDirective', 'selector': '[tnxInput]'},{'name': 'NumerosDirective', 'selector': '[tnxNumeros]'},{'name': 'ValidadorCampoFormularioDirective', 'selector': '[tnxValidadorCampoFormulario]'}];
    var ACTUAL_COMPONENT = {'name': 'AppMenuitemComponent'};
</script>
<script src="../js/tree.js"></script>

















                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> results matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

          <label class="dark-mode-switch">
               <input type="checkbox">
               <span class="slider">
                    <svg class="slider-icon" viewBox="0 0 24 24" fill="none" height="20" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
                    </svg>
               </span>
          </label>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'AppMenuitemComponent.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>

       <script src="../js/menu-wc.js" defer></script>
       <script nomodule src="../js/menu-wc_es5.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
